.home {
    .center-button {
        display: flex;
        justify-content: center;
        margin-top: 35%;
    }
    
    .start-button .btn {
        transform: scale(3);
    }

    .home-image {
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
    }
}
