.sign-up-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    .sign-up-image {
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
    }

    .sign-up {
        background-color: transparentize($color: #00000085, $amount: 0);
        height: 525px;
        width: 375px;
        margin: 15px;
        padding: 25px;
        border-radius: 10px;
    }

    .btn-body-color {
        color: white;

        &:hover {
            font-weight: bold;
        }
    }
}

.form-text {
    color: white;
}
