.new-team {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.create-team {
    background-color: transparentize($color: #0000007e, $amount: 0);
    height: fit-content;
    color: $white;
    margin-top: 25px;
    margin-left: 50px;
    border-radius: 10px;
    width: fit-content;
    padding: 25px;

    .field {
        display: flex;
        flex-direction: column;

    
        .field-name {
            border-radius: 10px;
            margin: 15px;
            width: 370px;
        }
    }

    .btn-primary {
        border-radius: 10px;
    }
}

.created-teams{
    background-color: transparentize($color: #0000007e, $amount: 0);
    height: fit-content;
    color: $white;
    margin-top: 25px;
    margin-left: 50px;
    border-radius: 10px;
    width: fit-content;
    padding: 25px;

    .icons-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

    .ico-fake {
        filter: none;
        width: 20px;
        height: 20px;
        margin-right: 10px;
        opacity: 0;
    }

    .link-container {
        display: flex;
        justify-content: space-between;
      }

    .name-edit-delete{
        display: flex;
        justify-content:space-between;
    }

    .image-separator {
        display: inline-block;
        width: 10px;
    }

    .edit-team-ico {
        filter: invert(100%);
        width: 20px;
        height: 20px;
        margin-right: 10px;
        margin-left: 15px;

        &:hover {
            filter: brightness(0) saturate(100%) invert(74%) sepia(99%) saturate(748%) hue-rotate(1deg) brightness(102%) contrast(101%);
            cursor: pointer;
        }
    }

    .delete-team-ico {
        filter: invert(100%);
        width: 20px;
        height: 20px;

        &:hover {
            filter: brightness(0) saturate(100%) invert(22%) sepia(100%) saturate(7499%) hue-rotate(357deg) brightness(101%) contrast(101%);
            cursor: pointer;
        }
    }

    .cash-box {
        margin-top: 20px;
        margin-bottom: 10px;
    }
    
    .btn-primary {
        border-radius: 10px;
    }
}