.new-team {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.create-team {
    background-color: transparentize($color: #0000007e, $amount: 0);
    height: 200px;
    color: $white;
    margin-top: 25px;
    margin-left: 50px;
    border-radius: 10px;
    width: 450px;
    padding: 25px;

    .field {
        display: flex;
        flex-direction: column;

    
        .field-name {
            border-radius: 10px;
            margin: 15px;
        }
    }
}

.created-teams{
    background-color: transparentize($color: #0000007e, $amount: 0);
    height: 200px;
    color: $white;
    margin-top: 25px;
    margin-left: 50px;
    border-radius: 10px;
    width: 450px;
    padding: 25px;

    .btn-info {
        margin-bottom: 5px;
        border-radius: 10px;
    }

    .btn-primary {
        border-radius: 10px;
    }

    .btn-danger {

        margin-bottom: 5px;
        border-radius: 10px;
    }
}