.container-teams-show {
    display: flex;
    justify-content: space-between;

    .new-team {
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
    }
}

.show-teams {
    flex: 1;
    color: white;
    margin-left: 50px;
    border-radius: 10px;

    .btn-secondary {
        margin-top: 10px;
        border-radius: 10px;
    }
}

.team-box {
    background-color: transparentize($color: #0000007e, $amount: 0);
    margin-top:  25px;
    height: 250px;
    border-radius: 10px;
    padding: 20px;
}

.match-box {
    margin-top: 15px;
    background-color: transparentize($color: #0000007e, $amount: 0);
    border-radius: 10px;
    padding: 20px;

    .btn-danger {
        border-radius: 10px;
    }

    .btn-warning {
        border-radius: 10px;
    }
}

.show-players-team {
    flex: 1;
    background-color: transparentize($color: #0000007e, $amount: 0);
    height: 525px;
    color: white;
    margin: 25px;
    border-radius: 10px;
    padding: 10px;

    .scrollable {
        background-color: transparentize($color: #00000080, $amount: 0);
        height: 425px; 
        width: 100%;
        overflow-y: auto;
        margin-bottom: 8px;

        th {
            top: 0;
            background: black;;
            z-index: 1;
            border: solid 1px white;
            color: white;
        }

        td {
            border: solid 1px white;
            background: transparentize($color: #00000080, $amount: 0);
            color: white;
        }
    }

    .btn-success {
        border-radius: 10px;
    }
}