.container-teams-show {
    display: flex;
    justify-content: space-between;

    .new-team {
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
    }

    .injury-icon {
        width: 20px;
        height: 20px;
    }

    .health-icon {
        width: 20px;
        height: 20px;
    }

    .yellow-card-icon {
        width: 15px;
        height: 20px;
    }

    .red-card-icon {
        width: 15px;
        height: 20px;
    }

    .goal-ball-icon {
        width: 20px;
        height: 20px;
        border-radius: 10px;
    }
}

.show-teams {
    flex: 1;
    color: white;
    margin-left: 50px;
    border-radius: 10px;

    .btn-secondary {
        margin-top: 10px;
        border-radius: 10px;

        &:hover {
            background-color: red;
        }
    }

    .delete-team-ico {
        width: 20px;
        height: 20px;

        &:hover {
            filter: invert(100%); 
            cursor: pointer;
        }
    }

}

.team-box {
    background-color: transparentize($color: #0000007e, $amount: 0);
    margin-top:  25px;
    height: 250px;
    border-radius: 10px;
    padding: 20px;

    .team-box-buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .ico-fake {
        filter: none;
        width: 20px;
        height: 20px;
        margin-right: 10px;
        opacity: 0;
    }

    .edit-team-ico {
        filter: invert(100%);
        width: 20px;
        height: 20px;
        margin-right: 10px;

        &:hover {
            filter: brightness(0) saturate(100%) invert(74%) sepia(99%) saturate(748%) hue-rotate(1deg) brightness(102%) contrast(101%); // ajuste conforme necessário
            cursor: pointer;
        }
    }

    .delete-team-ico {
        filter: invert(100%);
        width: 20px;
        height: 20px;

        &:hover {
            filter: brightness(0) saturate(100%) invert(22%) sepia(100%) saturate(7499%) hue-rotate(357deg) brightness(101%) contrast(101%); // ajuste conforme necessário
            cursor: pointer;
        }
    }
}

.match-box {
    margin-top: 15px;
    background-color: transparentize($color: #0000007e, $amount: 0);
    border-radius: 10px;
    padding: 20px;

    .btn-danger {
        border-radius: 10px;
    }

    .btn-warning {
        border-radius: 10px;
    }
}

.show-players-team {
    flex: 1;
    background-color: transparentize($color: #0000007e, $amount: 0);
    height: 525px;
    color: white;
    margin: 25px;
    border-radius: 10px;
    padding: 10px;

    .sticky-header th {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .scrollable {
        background-color: transparentize($color: #00000080, $amount: 0);
        height: 425px; 
        width: 100%;
        overflow-y: auto;
        margin-bottom: 8px;

        th {
            top: 0;
            background: black;;
            z-index: 1;
            border: solid 1px white;
            color: white;
        }

        td {
            border: solid 1px white;
            background: transparentize($color: #00000080, $amount: 0);
            color: white;
        }

        .size-team-message {
            font-size: 25px;
            margin-top: 200px;
        }
    }

    .btn-success {
        border-radius: 10px;
    }

    .name-column {
        width: 50%;
    }
    
    .position-column,
    .yellow-card-column,
    .red-card-column,
    .goal-column,
    .injury-column {
        width: 6%;
    }
    
    .level-column {
        width: 20%;
    }
}
