.matches-index {
    .container-matches-index {
    background-color: transparentize(#0000007e, 0);
    height: 540px;
    color: $white;
    margin: 25px 0 0 50px;
    width: 450px;
    padding: 25px;
    border-radius: 10px;

    .new-team {
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
    }

    .scrollable {
        background-color: transparentize(#0000007e, 0);
        border-radius: 10px;
        height: 450px;
        overflow-y: auto;

        .sticky-header th {
        position: sticky;
        top: 0;
        background-color: black;
        z-index: 1;
        }
    }

    table {
        width: 100%;
    }

    .col-home {
        width: 25%;
        padding-left: 5px;
    }
    .col-away {
        width: 25%;
    }

    .col-home-score,
    .col-vs,
    .col-away-score {
        width: 5%;
    }
    }

    .matches-index-buttons {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    width: 450px;

    .btn-secondary,
    .btn-primary {
        border-radius: 10px;
        padding: 5px;
        height: 35px;
        margin-top: 5px;
    }
    }
}
