.container-matches-index {
    background-color: transparentize($color: #0000007e, $amount: 0);
    height: 425px;
    color: $white;
    margin-top: 25px;
    margin-left: 50px;
    margin-bottom: 15px;    
    width: 450px;
    padding: 25px;
    border-radius: 10px;

    .new-team {
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
    }

    table {
        width: 100%;
    }
}
