.new-team {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.create-match {
    background-color: transparentize($color: #0000007e, $amount: 0);
    height: 160px;
    color: $white;
    margin-top: 25px;
    margin-left: 50px;    
    width: 450px;
    padding: 25px;
    border-radius: 10px;

    .field {
        margin-bottom: 5px;
        .rounded-select {
            padding: 5px;
            border-radius: 10px;
        }

        .field-name {
            border-radius: 10px;
        }
    }

    .btn-secondary {
        margin-right: 50px;
        border-radius: 10px;
    }
    
    .btn-primary {
        margin-top: 5px;
        border-radius: 10px;
    }
}
