// Variáveis para valores reutilizáveis
$border-radius: 10px;
$container-width: 450px;
$container-padding: 25px;
$container-margin-left: 50px;
$container-margin-top: 25px;
$transparent-black: transparentize(#0000007e, 0);

.new-team {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.create-match {
    background-color: $transparent-black;
    height: fit-content;
    color: $white;
    margin-top: 15px;
    margin-left: $container-margin-left;    
    width: fit-content;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 15px;
    border-radius: $border-radius;

    .field {
        margin-bottom: 5px;
        width: fit-content;

        .rounded-select,
        .field-name {
            padding: 5px;
            border-radius: $border-radius;
        }
    }

    .btn-secondary,
    .btn-primary {
        border-radius: $border-radius;
    }

    .btn-secondary {
        margin-right: $container-margin-left;
    }
    
    .btn-primary {
        margin-top: 5px;
    }
}
