// Variáveis para valores reutilizáveis
$border-radius: 10px;
$container-width: 450px;
$container-padding: 25px;
$container-margin-left: 50px;
$container-margin-top: 25px;
$transparent-black: transparentize(#0000007e, 0);

.new-team {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.create-match {
    background-color: $transparent-black;
    height: 160px;
    color: $white;
    margin-top: $container-margin-top;
    margin-left: $container-margin-left;    
    width: $container-width;
    padding: $container-padding;
    border-radius: $border-radius;

    .field {
        margin-bottom: 5px;

        .rounded-select,
        .field-name {
            padding: 5px;
            border-radius: $border-radius;
        }
    }

    .btn-secondary,
    .btn-primary {
        border-radius: $border-radius;
    }

    .btn-secondary {
        margin-right: $container-margin-left;
    }
    
    .btn-primary {
        margin-top: 5px;
    }
}
