.new-team {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.matches-show-container {
    display: flex;
    justify-content: space-around;

    .home-team {
        background-color: transparentize($color: #0000007e, $amount: 0);
        height: 540px;
        color: $white;
        margin-left: 25px;
        margin-top: 25px;
        width: 650px;
        padding: 25px;
        border-radius: 10px;

        th {
            background-color: black;
            color: white;
            border: solid 1px white;
        }

        td {
            background-color: transparentize($color: #00000080, $amount: 0);
            color: white;
            border: solid 1px white;
        }

        .scrollable {
            height: 390px;
            overflow-y: auto;
            border-radius: 10px;
        } 
    }

    .score {
        background-color: transparentize($color: #0000007e, $amount: 0);
        height: 200px;
        color: $white;
        margin: 50px;
        margin-top: 150px;
        width: 235px;
        padding: 25px;
        border-radius: 10px;


        h2 {
            padding-top: 50px;
        }
    }

    .away-team {
        background-color: transparentize($color: #0000007e, $amount: 0);
        height: 540px;
        color: $white;
        margin-right: 25px;
        margin-top: 25px;
        width: 650px;
        padding: 25px;
        border-radius: 10px;

        th {
            background-color: black;
            color: white;
            border: solid 1px white;
        }

        td {
            background-color: transparentize($color: #00000080, $amount: 0);
            color: white;
            border: solid 1px white;
        }

        .scrollable {
            height: 390px;
            overflow-y: auto;
            border-radius: 10px;
        } 
    }
}

.match-show-back-button {
    margin-top: 5px;
    margin-left: 50px;
    border-radius: 10px;
}


