// Variáveis para valores reutilizáveis
$border-radius: 10px;
$container-padding: 27px;
$container-margin: 15px;
$container-margin-large: 50px;
$container-width-large: 650px;
$container-width-small: 235px;
$container-height-large: 555px;
$container-height-small: 200px;
$scrollable-height: 410px;
$transparent-black: transparentize(#0000007e, 0);
$transparent-black-light: transparentize(#00000080, 0);

.new-team {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.matches-show-container {
    display: flex;
    justify-content: space-around;

    .injury-icon {
        width: 20px;
        height: 20px;
    }

    .health-icon {
        width: 20px;
        height: 20px;
    }

    .yellow-card-icon {
        width: 15px;
        height: 20px;
    }

    .red-card-icon {
        width: 15px;
        height: 20px;
    }

    .goal-ball-icon {
        width: 20px;
        height: 20px;
        border-radius: 10px;
    }

    .team {
        background-color: $transparent-black;
        height: $container-height-large;
        color: $white;
        margin-left: $container-margin;
        margin-top: $container-margin;
        width: $container-width-large;
        padding: $container-padding;
        border-radius: $border-radius;

        th {
            background-color: black;
            color: white;
            border: solid 1px white;
        }

        td {
            background-color: $transparent-black-light;
            color: white;
            border: solid 1px white;
        }

        .scrollable {
            height: $scrollable-height;
            overflow-y: auto;
            border-radius: $border-radius;

            .fixed-header {
                position: sticky;
                top: 0;
                background-color: white;
                z-index: 1;
            }

            .th-name {
                width: 50%;
            }
            
            .th-position {
            width: 6%;
            }
            
            .th-level {
            width: 10%;
            }
            
            .th-yellow-card {
            width: 6%;
            }
            
            .th-red-card {
            width: 6%;
            }
            
            .th-goal-ball {
            width: 6%;
            }
            
            .th-injury {
            width: 6%;
            }
        }
    }

    .home-team {
        @extend .team;
        margin-left: $container-margin;
    }

    .away-team {
        @extend .team;
        margin-left: 0;
        margin-right: $container-margin;
    }

    .score {
        background-color: $transparent-black;
        height: $container-height-small;
        color: $white;
        margin: $container-margin-large;
        margin-top: 150px;
        width: $container-width-small;
        padding: $container-padding;
        border-radius: $border-radius;

        .timer {
            margin-top: 10px;
            font-size: 35px;
        }
    }
}

.match-show-back-button {
    width: 130px;
    height: 35px;
    padding: 5px;
    border-radius: $border-radius;
}