$new-team-bg-color: transparentize(#0000007e, 0);
$team-bg-color: transparentize(#00000080, 0);
$team-height: 540px;
$team-width: 650px;
$team-padding: 25px;
$team-margin-top: 25px;
$team-border-radius: 10px;
$score-height: 200px;
$score-width: 235px;
$score-margin: 50px;
$score-margin-top: 150px;
$score-padding-top: 50px;

.new-team {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.matches-start-match-container {
    display: flex;
    justify-content: space-around;

    .injury-icon {
        width: 20px;
        height: 20px;
    }

    .health-icon {
        width: 20px;
        height: 20px;
    }

    .yellow-card-icon {
        width: 15px;
        height: 20px;
    }

    .red-card-icon {
        width: 15px;
        height: 20px;
    }

    .goal-ball-icon {
        width: 20px;
        height: 20px;
        border-radius: 10px;
    }

    %column {
        width: 6%;
    }

    .name-column {
        width: 43%;
    }
    
    .position-column,
    .yellow-card-column,
    .red-card-column,
    .goal-column,
    .injury-column {
        @extend %column;
    }
    
    .level-column {
        width: 7%;
    }

    .team {
        background-color: $new-team-bg-color;
        height: $team-height;
        color: $white;
        margin-top: $team-margin-top;
        width: $team-width;
        padding: $team-padding;
        border-radius: $team-border-radius;

        th, td {
            background-color: black;
            color: white;
            border: solid 1px white;
        }

        td {
            background-color: $team-bg-color;
        }

        .scrollable {
            height: 390px;
            overflow-y: auto;
            border-radius: $team-border-radius;

            .fixed-header {
            position: sticky;
            top: 0;
            background-color: white;
            z-index: 1;
            }
        }
    }

    .home-team {
        @extend .team;
        margin-left: 25px;
    }

    .away-team {
        @extend .team;
        margin-right: 25px;
    }

    .score {
        background-color: $new-team-bg-color;
        height: $score-height;
        color: $white;
        margin: $score-margin;
        margin-top: $score-margin-top;
        width: $score-width;
        border-radius: $team-border-radius;
        padding-top: $score-padding-top;
        padding: $team-padding;

        .btn-primary {
            margin-top: 50px;
        }

        .timer {
            margin-top: 40px;
            font-size: 35px;
        }
    }
}

.match-start-back-button {
    margin-top: 5px;
    margin-left: 50px;
    border-radius: $team-border-radius;
}
