.navbar-futebol {
  justify-content: space-between;
  background: white;
  height: 50px;
}

.navbar-futebol .navbar-collapse {
  flex-grow: 0;
}

.navbar-futebol .navbar-brand img {
  width: 40px;
  border-radius: 5px;
}
