.container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    color: white;
  }

  .team-show {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
  
  .left {
    width: 48%;
    background-color: transparentize($color: #00000080, $amount: 0);
    border-radius: 10px;

    input:checked + .slider {
        background-color: #f3213d;
      }

    .btn-primary {
        background-color: #007bff; // Cor do botão
        color: white; // Cor do texto do botão
        padding: 10px 15px; // Espaçamento interno do botão
        border: none; // Sem borda
        border-radius: 5px; // Bordas arredondadas
        cursor: pointer; // Cursor de ponteiro ao passar o mouse
        margin: 5px;
      }

    .scrollable {
        background-color: transparentize($color: #00000080, $amount: 0);
        height: 450px; 
        width: 100%;
        overflow-y: auto;

        th {
            top: 0;
            background: transparentize($color: #00000080, $amount: 0);;
            z-index: 1;
            border: solid 1px white;
        }

        td {
            border: solid 1px white;
        }
    }
    
    .scrollable table {
        width: 100%;
        table-layout: fixed;
      }
      .scrollable th, .scrollable td {
        text-align: left;
        padding: 8px;
      }
      .scrollable th {
        background-color: black;
      }
      .scrollable th.sell-column {
        width: 12%;
      }
      .scrollable th.name-column {
        width: 27%;
      }
      .scrollable th.position-column {
        width: 8%;
      }
      .scrollable th.ac-column,
      .scrollable th.sp-column,
      .scrollable th.st-column,
      .scrollable th.ag-column,
      .scrollable th.ba-column {
        width: 8%;
      }
      .scrollable th.price-column {
        width: 13%;
      }
  }
  
  .right {
    background-color: transparentize($color: #00000080, $amount: 0);
    width: 48%;
    border-radius: 10px;

    input:checked + .slider {
        background-color: #21f38a;
      }

    .btn-primary {
        background-color: #007bff; // Cor do botão
        color: white; // Cor do texto do botão
        padding: 10px 15px; // Espaçamento interno do botão
        border: none; // Sem borda
        border-radius: 5px; // Bordas arredondadas
        cursor: pointer; // Cursor de ponteiro ao passar o mouse
        margin: 5px;
      }

    .scrollable {
        background-color: transparentize($color: #00000080, $amount: 0);
        height: 450px; 
        width: 100%;
        overflow-y: auto;

        th {
            top: 0;
            background: transparentize($color: #00000080, $amount: 0);
            z-index: 1;
            border: solid 1px white;
        }

        td {
            border: solid 1px white;
        }
    }

    .scrollable table {
        width: 100%;
        table-layout: fixed;
      }
      .scrollable th, .scrollable td {
        text-align: left;
        padding: 8px;
      }
      .scrollable th {
        background-color: black
      }
      .scrollable th.sell-column {
        width: 12%;
      }
      .scrollable th.name-column {
        width: 27%;
      }
      .scrollable th.position-column {
        width: 8%;
      }
      .scrollable th.ac-column,
      .scrollable th.sp-column,
      .scrollable th.st-column,
      .scrollable th.ag-column,
      .scrollable th.ba-column {
        width: 8%;
      }
      .scrollable th.price-column {
        width: 13%;
      }
  }

  .btn-primary {
    background-color: #007bff; // Cor do botão
    color: white; // Cor do texto do botão
    padding: 10px 15px; // Espaçamento interno do botão
    border: none; // Sem borda
    border-radius: 5px; // Bordas arredondadas
    cursor: pointer; // Cursor de ponteiro ao passar o mouse
    margin: 5px;
  }

  .btn-secondary {
    margin-left: 10% ;
    margin-top: 25px;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 20px;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
  }

  input:checked + .slider:before {
    transform: translateX(14px);
  }

  .scrollable {
    max-height: 400px; /* Defina a altura máxima da área rolável */
    overflow-y: auto; /* Adicione uma barra de rolagem vertical */
  }

  .scrollable table {
    width: 100%;
    border-collapse: collapse;
  }

  .scrollable th {
    position: sticky;
    top: 0;
    background-color: #f2f2f2; /* Cor de fundo do cabeçalho */
    z-index: 1; /* Garante que o cabeçalho fique acima das células */
  }

  .scrollable th, .scrollable td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd; /* Adiciona bordas às células */
  }