.log-in-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    .log-in {
        background-color: transparentize($color: #00000085, $amount: 0);
        height: 525px;
        width: 375px;
        margin: 50px;
        padding: 25px;
        border-radius: 5px;
    }

    .btn-body-color {
        color: white;

        &:hover {
            font-weight: bold;
        }
    }
}

.home-image {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}